name: Hello World CI/CD #This is name of the workflow which will appear in Github Actions.

on: # This will define event which will trigger the workflow.
  push: #push is an event which will trigger the workflow. There are other events such as pull, etc...
    branches:
      - main  # Triggers on pushes to the main branch

jobs: #Jobs define specific tasks which are to be executed in pipeline.
  hello-world-job:  #hello-world-job is a unique identifier for this job. This can be anything.
    runs-on: ubuntu-latest  # Use an Ubuntu runner

    steps:
      # Step 1: Check out the code
      - name: Checkout code
        uses: actions/checkout@v3 #actions/checkout is a prebuilt github action that fetches code from repository into workflow's virtual machine(runner).

      # Step 2: Print "Hello World"
      - name: Say Hello World
        run: echo "Bharath is Working Out"
